[submodule "algorithms/rcd"]
	path = algorithms/rcd
	url = https://github.com/LGU-SE-Internal/rcd.git
[submodule "algorithms/run"]
	path = algorithms/run
	url = https://github.com/LGU-SE-Internal/RUN.git
[submodule "algorithms/causalrca"]
	path = algorithms/causalrca
	url = https://github.com/LGU-SE-Internal/CausalRCA.git
[submodule "algorithms/baro"]
	path = algorithms/baro
	url = https://github.com/LGU-SE-Internal/baro.git
[submodule "algorithms/simplerca"]
	path = algorithms/simplerca
	url = https://github.com/LGU-SE-Internal/Simple-RCA.git
[submodule "algorithms/eadro"]
	path = algorithms/eadro
	url = https://github.com/LGU-SE-Internal/Eadro.git
[submodule "algorithms/diagfusion"]
	path = algorithms/diagfusion
	url = https://github.com/LGU-SE-Internal/DiagFusion.git
	branch = train-0
[submodule "algorithms/art"]
	path = algorithms/art
	url = https://github.com/LGU-SE-Internal/ART.git
[submodule "algorithms/shapleyiq"]
	path = algorithms/shapleyiq
	url = https://github.com/LGU-SE-Internal/ShapleyIQ.git
[submodule "algorithms/nezha"]
	path = algorithms/nezha
	url = https://github.com/LGU-SE-Internal/Nezha.git
	branch = sampler
[submodule "algorithms/microdig"]
	path = algorithms/microdig
	url = https://github.com/LGU-SE-Internal/MicroDig.git
