[submodule "algorithms/rcd"]
	path = algorithms/rcd
	url = https://github.com/LGU-SE-Internal/rcd.git
[submodule "algorithms/run"]
	path = algorithms/run
	url = https://github.com/LGU-SE-Internal/RUN.git
[submodule "algorithms/causalrca"]
	path = algorithms/causalrca
	url = https://github.com/LGU-SE-Internal/CausalRCA.git
[submodule "algorithms/baro"]
	path = algorithms/baro
	url = https://github.com/LGU-SE-Internal/baro.git
[submodule "algorithms/simplerca"]
	path = algorithms/simplerca
	url = https://github.com/LGU-SE-Internal/Simple-RCA.git
[submodule "algorithms/padirca"]
	path = algorithms/padirca
	url = https://github.com/LGU-SE-Internal/PaDi-RCA.git
[submodule "algorithms/diagfusion"]
	path = algorithms/diagfusion
	url = https://github.com/LGU-SE-Internal/DiagFusion.git
	branch = feat/reproduce
